/* This is the original example. You can take all css styles from here. */

// 5 variables
$mainfont: 'Josefin Sans', sans-serif;
$bodyfont: Quando;
$anchorColor: #111111;
$footerColor: #989898;
$highlightColor: #35c4ce;

body {
    font-family: $bodyfont;
    font-size: 15px;
    color: #787878;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin-bottom: 25px;
    line-height: 1.6em;
}

// 1st Mixin
@mixin anchorTheme() {
    font-weight: 400;
    text-decoration: none;
    color: $anchorColor;
    transition: .20s;
}
a {
    @include anchorTheme;
}
a:hover {
    color: #999999;
}

// 2nd Mixin
@mixin headerTheme($font-size: 37) {
    font-size: $font-size;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $mainfont;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $anchorColor;
}
h1 {
    @include headerTheme;
}
h2 {
    @include headerTheme($font-size: 31);
}
h3 {
    @include headerTheme($font-size: 26);
}
h4 {
    @include headerTheme($font-size: 21);
}
h5 {
    @include headerTheme($font-size: 18);
}
h6 {
    @include headerTheme($font-size: 15);
}


.container {
    width: 94%;
    margin: 0 auto;
}


/* header and main nav */
// 1st nesting
header {
    font-family: $mainfont;
    nav {
        ul {
            display: none;
        }
    }
}

.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}



/* posts */
article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.image-part {
    margin-bottom: 10px;
}

// 2nd nesting
.post-title {
    margin-top: 0;
    a {
        color: #324360;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.3em;
        transition: all .3s ease;
    }
    a:hover {
        color: $highlightColor;
    }
}



/* footer */
// 3rd nesting
footer {
    padding: 30px 0;
    text-align: center;
    background: #eaf2ff;
    color: $footerColor;
    a {
        color: $footerColor;
    }
    a:hover {
        color: $anchorColor;
    }
}
.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
}

// 4th nesting
.footer-social-links {
    padding: 20px 0;
    line-height: 2em;
    a {
        margin: 0 10px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        span {
            display: none;
        }
    }
}

#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $footerColor;
}


@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

    // 5th nesting
    header nav {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        ul {
            display: flex;
            // sub nav
            ul {
                visibility: hidden;
                opacity: 0;
                display: block;
                position: absolute;
                z-index: 9999;
                left: 0;
                background: #f0f0f0;
                transition: all 0.2s ease-out;
                li {
                    border-top: 1px solid #e9e9e9;
                    margin: 0;
                }
                a {
                    display: block;
                    color: $anchorColor;
                    min-width: 175px;
                    margin: 0;
                    padding: 20px 10px;
                    line-height: 1.4em;
                    letter-spacing: 1px;
                    transition: .35s;
                }
                a:hover {
                    background: #ffffff;
                    color: #000; 
                }
            }
            li:hover ul {
                visibility: visible;
                opacity: 1;
            }
        }
        li {
            margin: 0 15px;
            position: relative;
            line-height: 24px;
        }
        a {
            font-family: $mainfont;
            color: #324360;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;
        }
        a:hover {
            color: $highlightColor;
        }
        li.menu-item-has-children > a::after {
            margin-left: 7px;
            font-family: 'FontAwesome';
            font-size: 13px;
            color: #324360;
            content: '\f078';
        }
    }

    .current-menu-item a {
        border-bottom: 2px solid #324360;
    }

    /* posts */
    article {
        display: flex;
    }

    // 6th nesting
    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
        img {
            transition: transform 3.5s ease-in-out;
        }
        img:hover {
            transform: scale(1.5,1.5);
        }
    }

    .content-part {
        flex: 1;
        padding-left: 50px;
    }

    /* footer */
    // 7th nesting
    .footer-social-links {
        a {
        margin: 0 28px;
        span {
            display: inline;
            font-size: 11px;
        }
        }
        i {
            margin-right: 5px;
        }
    }
}